# https://wiki.archlinux.org/index.php/Isync#Automatic_synchronization

[Unit]
Description=Mailbox synchronization timer

[Timer]
OnCalendar=*-*-* *:00/3:00
Persistent=true
Unit=mbsync.service

[Install]
WantedBy=timers.target
