[Unit]
Description=mbsync
Requisite=dbus.socket
After=gnome-keyring.service

[Service]
ExecStart=/usr/bin/mbsync -a
ExecStartPre=/bin/sleep 3
Type=oneshot

[Install]
WantedBy=default.target
