[user]
	name = David Smith
	email = davidsmith@acm.org
[alias]
	lola = log --graph --decorate --pretty=oneline --abbrev-commit
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
[core]
	pager = /bin/cat
[hub]
	protocol = ssh
[pull]
	rebase = true
[push]
	default = simple
[status]
	submoduleSummary = true
[init]
	defaultBranch = main
