[core]
	pager = /bin/cat
[push]
	default = simple
[alias]
	lola = log --graph --decorate --pretty=oneline --abbrev-commit
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
[hub]
	protocol = ssh
[status]
	submoduleSummary = true
