Emacs.font:	Source Code Variable-9
Emacs.fontBackend:	xft,x
Emacs.menuBar:	off
Emacs.toolBar:	off
Emacs.verticalScrollBars:	off
Xft.antialias:	1
Xft.autohint:	0
Xft.dpi:	180
Xft.hinting:	1
Xft.hintstyle:	hintfull
Xft.lcdfilter:	lcddefault
Xft.rgba:	rgb
