defaults
logfile ~/.msmtp.log
tls on
tls_starttls off
tls_fingerprint 1F:5C:3C:FB:CB:5D:F6:45:C7:96:F3:F7:A8:88:60:7A:D3:D8:FF:03:25:64:E1:01:0C:E9:CA:29:AA:48:8D:75
auth on
port 465
host smtp.gmail.com

{% for account in accounts %}

account {{ account.slug }}
user {{ account.user }}
passwordeval keyring get {{ account.host }} {{ account.user }}
from {{ account.user }}
{% endfor %}

account default :gmail
from davidsmith@acm.org

account dds :bosabosa
from dds@bosabosa.org

account test :bosabosa
from test@bosabosa.org

account testing :bosabosa
from testing@bosabosa.org

account tucows :bosabosa
from tucows@bosabosa.org

account usgov :bosabosa
from usgov@bosabosa.org

account sfusd :bosabosa
from sfusd@bosabosa.org

account ymcasf :bosabosa
from ymcasf@bosabosa.org

account softcore :bosabosa
from softcore@bosabosa.org
