defaults
logfile ~/.msmtp.log
tls on
auth on
tls_fingerprint 3A:D0:DA:44:25:0C:8C:CC:B9:38:0B:EF:F1:A8:FA:A6:8F:1E:71:66:47:EC:D7:0C:83:F2:7C:D2:CA:A7:FD:EA
port 587
host smtp.gmail.com

{% for account in accounts %}

account {{ account.slug }}
user {{ account.user }}
passwordeval keyring get {{ account.host }} {{ account.user }}
from {{ account.user }}
{% endfor %}

account default :gmail
from davidsmith@acm.org

account dds :bosabosa
from dds@bosabosa.org

account test :bosabosa
from test@bosabosa.org

account testing :bosabosa
from testing@bosabosa.org

account tucows :bosabosa
from tucows@bosabosa.org

account usgov :bosabosa
from usgov@bosabosa.org

account sfusd :bosabosa
from sfusd@bosabosa.org

account ymcasf :bosabosa
from ymcasf@bosabosa.org

account softcore :bosabosa
from softcore@bosabosa.org
